<form action = "/square_root/results">
<label for="apple">Enter a number</label>
<input id="apple" type="text" placeholder="What number do you want to square root?" name="Number">
<button>Calculate square root</button>

</form>

<a href="/square_root/new">
  Calculate another square root
</a>
