<h1>HOWDY!</h1>

<form>
<label for="apple">Enter a number</label>
<input id="apple" type="text" placeholder="What number do you want to square?" name="elephant">
<button>Calculate square</button>

</form>