<h1>HOWDY</h1>


<h1>HOWDY!</h1>

<form action = "/square/results">
<label for="apple">Enter a number</label>
<input id="apple" type="text" placeholder="What number do you want to square?" name="Number">
<button>Calculate square</button>

</form>

<a href="/square/new">
  Calculate another square
</a>
<a href="/square_root/new">
  Calculate another square
</a>